/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--first-color: #fdf5df;
	--second-color: #5ebec4;
	--third-color: #f92c85;
}

body {
	font-family: 'Caveat', cursive;
	font-size: 24px;
	background-color: var(--first-color);

}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	color: var(--second-color);
	padding: 16px;
}

h1 {
	font-size: 80px;
	font-weight: 800;
}

.book {
	background-color: var(--third-color);
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 280px;
	width: 180px;
	border-end-end-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	transition: transform .5s;
	border-left: 10px solid var(--second-color);
}

.book div {
	display: flex;
	flex-wrap: wrap;
	word-wrap: anywhere;
}

.book:hover{
	transform: scale(1.1);
}
#bookForm {
	background-color: var(--second-color);
	color: var(--first-color);
	font-weight: 1000;
	font-size: 24px;
	border-radius: 20px;
	display: none;
	align-content: center;
	gap: 20px;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -150px;
	margin-left: -150px;
	padding: 40px;
}

#bookForm button{
	background-color: var(--third-color);
	border: none;
	transition: transform .5s;
}

#bookForm button:hover{
	transform: scale(1.1);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#buttonCont {
	display: flex;
	height: 100px;
	align-items: center;
}

#addBook {
	font-size: 36px;
	border-radius: 30px;
	padding: 10px 20px;
	background-color: var(--third-color);
	color: var(--first-color);
	border: none;
	text-align: center;
	transition: transform .5s;
}

#addBook:hover {
	transform: scale(1.1);
}

label {
	display: grid;
}

.number {
	display: flex;
	gap: 20px;
}

#pages {
	width: 60px;
}

.switch {
	display: flex;
	gap: 20px;
}

.bookContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 60px;
	padding: 16px 60px;
	color: var(--first-color);
	font-weight: 800;
}